ul.shopping-list {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul.shopping-list li {
  cursor: pointer;
  position: relative;
  padding: 7px 75px 7px 35px;
  background: #eee;
  font-size: 1rem;
  transition: 0.2s;
  list-style-type: none;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul.shopping-list li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul.shopping-list li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul.shopping-list li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul.shopping-list li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 11px;
  width: 4px;
}

.shopping-list .close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 16px 12px 16px
}

.shopping-list .handle {
  position: absolute;
  right: 40px;
  top: 0;
  padding: 6px 16px 12px 16px
}

.shopping-list .close:hover {
  background-color: #f44336;
  color: white;
}

.shopping-list .handle:hover {
  background-color: #888;
  color: white
}

#shopping-checked .close {
  display: none;
}

.add-item {
  margin-bottom: 20px;
  .btn {
    padding: 5px;
    width: 25%;
    float: left;
    transition: 0.3s;
  }
  #add-item-name {
    box-sizing: border-box;
    width: 75%;
    padding: 5px;
    float: left;
    font-size: 16px;
  }

  /* Style the "Add" button */
  .addBtn {
    padding: 5px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }

  .addBtn:hover {
    background-color: #bbb;
  }
}