
// Base page sizes:

$row-width: 100%;
$wrap-width: 1100px;

// Base breakingpoints:

$bp-desktop: 1400px;
$bp-table-landscape: 1024px;
$bp-table-portrait: 768px;
$bp-phone-landscape: 568px;
$bp-phone-portrait: 375px;



// CibatusRecipes Icon Pack:
$icomoon-font-path: "../../public/fonts" !default;
$icon-drumstick: \e90c;
$icon-bread: \e900;
$icon-cake: \e901;
$icon-coffee: \e902;
$icon-cookie: \e903;
$icon-cupcake: \e904;
$icon-fish: \e905;
$icon-honey_stick: \e906;
$icon-icecream: \e907;
$icon-leaf: \e908;
$icon-loop: \e909;
$icon-milk: \e90a;
$icon-steak: \e90b;