
$base-color-60: #E2E2E2;
$base-color-30: #474255;
$base-color-10: #CF73BC;

$base-font-color: #47525D;


$primary-border: #d8d8d8;

// Navigation & Header

$menu-header-background: #222831;
$menu-header-color: #53875F;
$menu-background: #fff;
$menu-border-color: #E2E2E2;

$categories-background: #222831;

$page-background: #f9f9f9;


$base-link-color: #53875F;


$favorite-star-color: gold;



// Buttons


$btn-default-background: #333;
$btn-primary-background: #435E7B;
$btn-success-background: #53875F;
$btn-info-background: #5bc0de;
$btn-warning-background: #D8C449;
$btn-danger-background: #B75B56;


$btn-link: #337ab7;

$btn-active-shadow: rgba(0, 0, 0, .125);
